src/templates/statemachine/mlops.asl.json
{
    "Comment": "mlops state machine",
    "StartAt": "SageMaker Create Processing Job",
    "States": {
        "SageMaker Create Processing Job": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createProcessingJob",
            "Parameters": {
                "AppSpecification": {
                    "ContainerArguments": [
                        "--data-file",
                        "dataset_credit_risk.csv",
                        "--output-file",
                        "train_model.parquet",
                        "--input-path",
                        "/opt/ml/processing/input",
                        "--output-path",
                        "/opt/ml/processing/output/data"
                        
                    ],
                    "ContainerEntrypoint": [
                        "python3",
                        "/opt/ml/processing/input/code/processing.py"
                    ],
                    "ImageUri": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:0.23-1-cpu-py3"
                },
                "NetworkConfig": {
                    "EnableInterContainerTrafficEncryption": false,
                    "EnableNetworkIsolation": false
                },
                "ProcessingInputs": [
                    {
                        "InputName": "dataset-input",
                        "AppManaged": false,
                        "S3Input": {
                            "LocalPath": "/opt/ml/processing/input",
                            "S3CompressionType": "None",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3Uri": "s3://${S3MlopsBucket}/source/dataset"
                        }
                    },
                    {
                        "InputName": "code-input",
                        "AppManaged": false,
                        "S3Input": {
                            "LocalPath": "/opt/ml/processing/input/code",
                            "S3CompressionType": "None",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3Uri": "s3://${S3MlopsBucket}/source/scripts/sagemaker"
                        }
                    }
                ],
                "ProcessingJobName": "mlops-processing-job",
                "ProcessingOutputConfig": {
                    "Outputs": [
                        {
                            "OutputName": "output-dataset",
                            "S3Output": {
                                "LocalPath": "/opt/ml/processing/output/data",
                                "S3UploadMode": "EndOfJob",
                                "S3Uri": "s3://${S3MlopsBucket}/processed"
                            }
                        }
                    ]
                },
                "ProcessingResources": {
                    "ClusterConfig": {
                        "InstanceCount": 1,
                        "InstanceType": "ml.t3.medium",
                        "VolumeSizeInGB": 5
                    }
                },
                "RoleArn": "${SagemakerRoleArn}",
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 3600
                }
            },
            "Next": "SageMaker Create Feature Store",
            "Catch": [
                {
                "ErrorEquals": [
                    "States.ALL"
                ],
                "Next": "FailState"
                }
            ]
        },
        "SageMaker Create Feature Store": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createProcessingJob",
            "Parameters": {
                "AppSpecification": {
                    "ContainerArguments": [
                        "--data-file",
                        "train_model.parquet",
                        "--input-path",
                        "/opt/ml/processing/input",
                        "--region",
                        "us-east-1",
                        "--s3-path",
                        "s3://mlops-project-lab-us-east-1/source/feature-store",
                        "--feature-group",
                        "mlops_credit_cards_risk",
                        "--record-identifier",
                        "id",
                        "--event-time",
                        "loan_date",
                        "--role-arn",
                        "${SagemakerRoleArn}"
                    ],
                    "ContainerEntrypoint": [
                        "python3",
                        "/opt/ml/processing/input/code/feature_store.py"
                    ],
                    "ImageUri": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:0.23-1-cpu-py3"
                },
                "NetworkConfig": {
                    "EnableInterContainerTrafficEncryption": false,
                    "EnableNetworkIsolation": false
                },
                "ProcessingInputs": [
                    {
                        "InputName": "parquet-dataset-input",
                        "AppManaged": false,
                        "S3Input": {
                            "LocalPath": "/opt/ml/processing/input",
                            "S3CompressionType": "None",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3Uri": "s3://${S3MlopsBucket}/processed"
                        }
                    },
                    {
                        "InputName": "feature-store-code",
                        "AppManaged": false,
                        "S3Input": {
                            "LocalPath": "/opt/ml/processing/input/code",
                            "S3CompressionType": "None",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3Uri": "s3://${S3MlopsBucket}/source/scripts/sagemaker"
                        }
                    }
                ],
                "ProcessingJobName": "mlops-feature-store-job",
                "ProcessingResources": {
                    "ClusterConfig": {
                        "InstanceCount": 1,
                        "InstanceType": "ml.t3.medium",
                        "VolumeSizeInGB": 5
                    }
                },
                "RoleArn": "${SagemakerRoleArn}",
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 3600
                }
            },
            "Next": "SageMaker Create Training Job",
            "Catch": [
                {
                "ErrorEquals": [
                    "States.ALL"
                ],
                "Next": "FailState"
                }
            ]
        },
        "SageMaker Create Training Job": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createTrainingJob",
            "Parameters": {
                "AlgorithmSpecification": {
                    "TrainingImage": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:0.23-1-cpu-py3",
                    "TrainingInputMode": "File"
                },
                "HyperParameters": {
                    "ESTIMATORS": "5"
                },
                "EnableNetworkIsolation": false,
                "Environment": { 
                    "INPUT_FILE" : "train_model.parquet",
                    "Y_COLUMN" : "['status']",
                    "DROP_COLUMN" : "['id', 'status']",
                    "TEST_SIZE" : "0.3",
                    "MODEL_FILE" : "model_risk.joblib"
                 },
                "InputDataConfig": [
                    {
                        "ChannelName": "TRAINING",
                        "DataSource": {
                            "S3DataSource": {
                                "S3DataType": "S3Prefix",
                                "S3Uri": "s3://${S3MlopsBucket}/processed",
                                "S3DataDistributionType": "FullyReplicated"
                            }
                        }
                    }
                ],
                "OutputDataConfig": {
                    "S3OutputPath": "s3://${S3MlopsBucket}/model/output"
                },
                "ResourceConfig": {
                    "InstanceCount": 1,
                    "InstanceType": "ml.c4.2xlarge",
                    "VolumeSizeInGB": 20
                },
                "RoleArn": "${SagemakerRoleArn}",
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 100000
                },
                "TrainingJobName.$": "$.commitID"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "SageMaker.AmazonSageMakerException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.1
                },
                {
                    "ErrorEquals": [
                        "SageMaker.ResourceLimitExceededException"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 1,
                    "BackoffRate": 1
                }
            ],
            "Next": "Send Manual Approval Email Request",

            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.cause",
                    "Next": "FailState"
                }
            ]
                },
                "Send Manual Approval Email Request": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
                    "Parameters": {
                        "FunctionName": "${EmailLinkFunctionName}",
                        "Payload": {
                            "token.$":"$$.Task.Token",
                            "s3_model_metrics_output.$":"$.result.OutputDataConfig.S3OutputPath"                                      
                        }
                    },
                    "ResultPath": "$.output",
                    "Next": "Sagemaker Create Model",
                    "Catch": [
                        {
                            "ErrorEquals": [ "rejected" ],
                            "ResultPath": "$.output",
                            "Next": "FailState"
                        }
                    ]
                },
        "SageMaker Create Model": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createModel",
            "Parameters": {
                "ExecutionRoleArn": "${SagemakerRoleArn}",
                "ModelName.$": "$.TrainingJobName",
                "PrimaryContainer": {
                    "ModelDataUrl": "s3://${S3MlopsBucket}/model/output/model_risk.tar.gz",
                    "Image.$": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:0.23-1-cpu-py3"
                }
            },
            "Next": "Sagemaker Create Endpoint Config",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint Config": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpointConfig",
            "Parameters": {
                "EndpointConfigName.$": "$.TrainingJobName",
                "ProductionVariants": [
                    {
                        "InitialInstanceCount": 1,
                        "InitialVariantWeight": 1,
                        "InstanceType": "ml.t2.medium",
                        "ModelName.$": "$.TrainingJobName",
                        "VariantName": "AllTraffic"
                    }
                ]
            },
            "ResultPath": "$.result",
            "Next": "Sagemaker Create Endpoint",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Sagemaker Create Endpoint": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sagemaker:createEndpoint",
            "Parameters": {
                "EndpointName.$": "$.TrainingJobName",
                "EndpointConfigName.$": "$.TrainingJobName"
            },
            "Next": "Send Email With API Endpoint",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ]
        },
        "Send Email With API Endpoint": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${UpdateSagemakerEndpointAPI}",
                "Payload": {
                    "EndpointName": "$.TrainingJobName"
                },
                "InvocationType": "Event"
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "FailState"
                }
            ],
            "Next": "SuccessState"
        },
        "SuccessState": {
            "Type": "Succeed"
        },
        "FailState": {
            "Type": "Fail"
        }
    }
}